.footer {
  position: relative;
  padding: 63px 0px 17px 0px;
  background: linear-gradient(286.41deg, #022335 3.63%, #043A41 90.98%);

  //---768px---
  @include media-w($smx) {
    padding: 41px 0px 23px 0px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;
    margin-left: -5px;

    //-----1440px-----
    @include media-w($xl) {
      flex-direction: column;
      margin-left: 0;
    }

    //---450px---
    @include media-w($xs) {
      align-items: flex-start;
      margin-bottom: 51px;
    }
  }

  &__logo {
    margin-top: 3px;

    //-----1440px-----
    @include media-w($xl) {
      margin-top: 0;
      margin-left: -54px;
      display: block;
      margin-bottom: 32px;
    }

    //---450px---
    @include media-w($xs) {
      margin-left: 0px;
    }

    //---370px---
    @include media-w($xxl) {
      margin-left: 16px;
    }

    //---350px---
    @include media-w($xxsl) {
      margin-left: 0;
    }
  }


  &__wrapper {

    //---370px---
    @include media-w($xxl) {
      padding-left: 16px;
    }
  }

  &__wrapper-top {
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    padding-right: 4px;

    //---768px---
    @include media-w($smx) {
      flex-direction: column-reverse;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 33px;
      padding-right: 0;
    }
  }

  &__wrapper-bottom {
    max-width: 327px;
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //-----1440px-----
    @include media-w($xl) {
      margin: 0 auto;
    }
  }

  &__social-span {
    @extend %avenirNextCyr-Demi600;
    font-size: 10px;
    line-height: 2.1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $gray;

    //---768px---
    @include media-w($smx) {
      display: none;
    }
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    width: 100%;

    //---768px---
    @include media-w($smx) {
      margin-left: -8px;
      max-width: 234px;
    }

    //---370px---
    @include media-w($xxl) {
      margin-left: -8px;
    }

    //---350px---
    @include media-w($xxsl) {
      margin-left: 0;
    }
  }

  &__social-link {
    display: block;
    text-align: center;
    transition: 0.5s;

    &:hover {
      .footer__svg-blue {
        display: none;
      }

      .footer__svg-white {
        display: block;
      }
    }
  }

  &__svg-blue {
    display: block;
  }

  &__svg-white {
    display: none;
  }

  &__mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 233px;
    width: 100%;
    text-align: right;
    transition: 0.5s;
    transition: 0.5s;

    &:hover {
      .footer__tel-img {
        fill: $blue;
      }
    }

    //---768px---
    @include media-w($smx) {
      width: 233px;
      margin-bottom: 6px;
    }

    &:focus {
      text-decoration: underline;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      text-decoration: underline;
      color: $blue;
    }
  }

  &__tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 210px;
    width: 100%;
    text-align: right;
    transition: 0.5s;

    &:hover {
      .footer__tel-img {
        fill: $blue;
      }
    }

    //---768px---
    @include media-w($smx) {
      margin-bottom: 10px;
    }

    //---450px---
    @include media-w($xs) {
      max-width: 204px;
    }

    &:focus {
      text-decoration: underline;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      text-decoration: underline;
      color: $blue;
    }
  }

  &__tel-span {
    @extend %avenirNextCyr-Medium-450;
    font-size: 18px;
    line-height: 1.22;

    //---350px---
    @include media-w($xxsl) {
      font-size: 14px;
    }
  }

  &__tel-img {
    width: 25px;
    height: 25px;
    fill: #4A8BEC;
  }

  &__copy {
    text-align: center;
    margin-bottom: 7px;

    //---450px---
    @include media-w($xs) {
      text-align: left;
      margin-bottom: 11px;
    }

    //---370px---
    @include media-w($xxl) {
      padding-left: 16px;
    }
  }

  &__copy-span {
    position: relative;
    @extend %avenirNextCyr-Medium-450;
    font-size: 14px;
    line-height: 1.5;

    //---370px---
    @include media-w($xxl) {
      font-size: 12px;
      line-height: 1.75;
    }

    &::before {
      content: '';
      position: absolute;
      left: -805px;
      top: 50%;
      transform: translateY(-50%);
      width: 784px;
      height: 1px;
      background-color: rgba(0, 224, 255, 0.2);

      //---768px---
      @include media-w($smx) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -805px;
      top: 50%;
      transform: translateY(-50%);
      width: 784px;
      height: 1px;
      background-color: rgba(0, 224, 255, 0.2);

      //---768px---
      @include media-w($smx) {
        display: none;
      }
    }
  }

  &__logot {
    margin-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 280px;
    width: 100%;
    margin-left: auto;

    //-----1440px-----
    @include media-w($xl) {
      margin: 0 auto;
    }

    //---450px---
    @include media-w($xs) {
      margin: 0px auto 0px 0px;
      max-width: 223px;
    }

    //---370px---
    @include media-w($xxl) {
      margin: 0px auto 0px 16px;
    }
  }

  &__logot-span {
    @extend %avenirNextCyr-Demi600;
    font-size: 10px;
    line-height: 2.1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $gray;

    //---370px---
    @include media-w($xxl) {
      font-size: 8px;
    }
  }

  &__logot-img {

    //---370px---
    @include media-w($xxl) {
      width: 94px;
      height: 28px;
    }
  }

  &__scroll-up {
    position: absolute;
    top: -154px;
    left: 98px;
    border: none;
    background-color: transparent;
    transform: rotate(-90deg);
    @extend %avenirNextCyr-Demi600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    color: $blue;
    transition: 0.5s;

    &:hover {
      &::after {
        display: none;
      }

      &::before {
        display: block;
      }
    }

    //-----1730px-----
    @include media-w($xxn) {
      top: -81px;
      left: 94%;
    }

    //-----1440px-----
    @include media-w($xl) {
      left: 87%;
    }

    //---768px---
    @include media-w($smx) {
      top: -95px;
      left: 83%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 139px;
      height: 139px;
      top: -63px;
      left: -140px;
      background-image: url(../images/footer/arrow-up.svg);
      @extend %bg-center-cover;
      transform: rotate(90deg);
      display: none;

      //---768px---
      @include media-w($smx) {
        width: 91px;
        height: 91px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 139px;
      height: 139px;
      top: -63px;
      left: -140px;
      background-image: url(../images/footer/arrow-up.png);
      @extend %bg-center-cover;
      transform: rotate(90deg);

      //---768px---
      @include media-w($smx) {
        width: 91px;
        height: 91px;
      }
    }
  }

  &__scroll-span {
    display: block;

    //-----1730px-----
    @include media-w($xxn) {
      display: none;
    }
  }
}