.header {
  position: relative;
  padding: 46px 0px 178px 0px;
  background-image: url(../images/header/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  //-----1578px-----
  @include media-w($sxl) {
    padding: 36px 0px 88px 0px;
  }

  //-----1200px----
  @include media-w($lg) {
    background-position: bottom 0px right 0px;
    background-image: url(../images/header/header-bg-md.png);
  }

  //----992px----
  @include media-w($mdl) {
    background-image: url(../images/header/header-bg-mobile.png);
    background-position: bottom -1367px right 0px;
  }

  //---860px---
  @include media-w($sm) {
    padding: 25px 0px 75px 0px;
    background-position: bottom -1212px right 0px;
  }

  //---768px---
  @include media-w($smx) {
    background-position: bottom -1054px right 0px;
  }

  //---700px---
  @include media-w($smz) {
    background-position: bottom -933px right 0px;
  }

  //---620px---
  @include media-w($sms) {
    background-position: bottom -810px right 0px;
  }

  //---562px---
  @include media-w($ssm) {
    background-position: bottom -705px right 0px;
  }

  //---506px---
  @include media-w($snm) {
    background-position: bottom -577px right 0px;
  }

  //---500px---
  @include media-w($smm) {
    background-position: bottom -535px right 0px;
  }

  //---479px---
  @include media-w($xss) {
    background-position: bottom -493px right 0px;
  }

  //---450px---
  @include media-w($xs) {
    background-position: bottom -421px right 0px;
  }

  //---400px---
  @include media-w($xxs) {
    background-position: bottom -343px right 0px;
  }

  //---370px---
  @include media-w($xxl) {
    background-position: bottom -314px right 0px;
  }

  //---360px---
  @include media-w($xbl) {
    background-position: bottom -308px right 0px;
  }

  //---350px---
  @include media-w($xxsl) {
    background-position: bottom -285px right 0px;
  }

  //---330px---
  @include media-w($xxsk) {
    background-position: bottom -175px right 0px;
  }


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;

    //-----1578px-----
    @include media-w($sxl) {
      margin-bottom: 100px;
    }

    //---860px---
    @include media-w($sm) {
      margin-bottom: 80px;
    }

    //---700px---
    @include media-w($smz) {
      margin-bottom: 60px;
    }

    //---370px---
    @include media-w($xxl) {
      margin-bottom: 41px;
    }
  }

  &__content {
    position: relative;
    max-width: 806px;

    //---860px---
    @include media-w($sm) {
      max-width: 100%;
    }
  }

  &__subtitle {
    display: block;
    @extend %avenirNextCyr-Demi600;
    color: $gray;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: -2px;
    @include overflow($row);

    //---400px---
    @include media-w($xxs) {
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
    }

    //---370px---
    @include media-w($xxl) {
      margin: 0px 0px 7px -28px;
    }

    //---350px---
    @include media-w($xxsl) {
      margin-left: 0px;
    }
  }

  &__logo {
    position: relative;

    //---768px---
    @include media-w($smx) {
      display: none;
    }

    &::before {
      position: absolute;
      content: '';
      width: 438px;
      height: 438px;
      top: -219px;
      right: -87px;
      background: $blue;
      opacity: 0.16;
      filter: blur(247px);
    }
  }

  &__tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 206px;
    width: 100%;
    text-align: right;
    margin-top: -11px;
    transition: 0.5s;

    &::before {
      content: '';
      position: absolute;
      display: none;
      width: 281px;
      height: 1px;

      //---700px---
      @include media-w($smz) {
        display: block;
        top: 22px;
        left: 22px;
        background-image: url(../images/header/tel-lines.png);
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      width: 226px;
      height: 1px;

      //---700px---
      @include media-w($smz) {
        display: block;
        bottom: 22px;
        left: 77px;
        background-image: url(../images/header/tel-bottom-line.png);
      }
    }

    //---700px---
    @include media-w($smz) {
      position: relative;
      max-width: 330px;
      margin: -26px -15px 0px auto;
      padding: 32px 89px 37px 20px;
      background: linear-gradient(286.41deg, #0B4D69 3.63%, #104C54 90.98%);
      box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.35);
      border-radius: 0px 0px 0px 22px;
    }

    //---350px---
    @include media-w($xxsl) {
      max-width: 300px;
    }

    &:focus {
      text-decoration: underline;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      text-decoration: underline;
      color: $blue;
    }

  }

  &__tel-span {
    @extend %avenirNextCyr-Medium-450;
    font-size: 18px;
    line-height: 1.22;

    //---350px---
    @include media-w($xxsl) {
      font-size: 14px;
    }
  }

  &__tel-img {
    width: 25px;
    height: 25px;

    //---700px---
    @include media-w($smz) {
      width: 37px;
      height: 35px;
    }
  }

  &__title {
    margin-bottom: 9px;

    //-----1578px-----
    @include media-w($sxl) {
      font-size: 90px;
      line-height: 1.21;
    }

    //---860px---
    @include media-w($sm) {
      font-size: 70px;
    }

    //---768px---
    @include media-w($smx) {
      font-size: 65px;
    }

    //---700px---
    @include media-w($smz) {
      font-size: 60px;
    }

    //---400px---
    @include media-w($xxs) {
      font-size: 51px;
    }

    //---370px---
    @include media-w($xxl) {
      margin: 0px 0px 11px 16px;
    }

    //---350px---
    @include media-w($xxsl) {
      margin: 0px 0px 11px 0px;
      font-size: 47px;
    }
  }

  &__text {
    max-width: 580px;
    font-size: 18px;
    @include overflow($row-3);
    margin-bottom: 86px;

    //-----1578px-----
    @include media-w($sxl) {
      margin-bottom: 70px;
    }

    //---400px---
    @include media-w($xxs) {
      font-size: 16px;
      line-height: 1.25;
    }

    //---370px---
    @include media-w($xxl) {
      margin: 0px 0px 55px 15px;
    }

    //---350px---
    @include media-w($xxsl) {
      margin: 0px 0px 55px 0px;
      font-size: 14px;
    }
  }

  &__guarantee {
    max-width: 576px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    //-----1200px----
    @include media-w($lg) {
      margin-bottom: 258px;
    }

    //---620px---
    @include media-w($sms) {
      max-width: 100%;
    }

    //---370px---
    @include media-w($xxl) {
      max-width: 91%;
      margin: 0px 0px 292px 15px;
    }
  }

  &__guarantee-img {
    width: 71px;
    height: 71px;

    //---620px---
    @include media-w($sms) {
      width: 49px;
      height: 49px;
    }
  }

  &__guarantee-content {
    width: 100%;
    max-width: 472px;

    //---620px---
    @include media-w($sms) {
      max-width: 430px;
    }

    //---562px---
    @include media-w($ssm) {
      max-width: 390px;
    }

    //---506px---
    @include media-w($snm) {
      max-width: 330px;
    }

    //---479px---
    @include media-w($xss) {
      max-width: 300px;
    }

    //---400px---
    @include media-w($xxs) {
      max-width: 250px;
    }

    //---370px---
    @include media-w($xxl) {
      max-width: 236px;
    }

    //---350px---
    @include media-w($xxsl) {
      max-width: 225px;
    }
  }

  &__guarantee-title {
    @extend %avenirNextCyr-700;
    font-size: 18px;
    margin: 2px 0px 7px 0px;
    @include overflow($row);

    //---620px---
    @include media-w($sms) {
      margin: 2px 0px 6px 0px;
      font-size: 16px;
    }

    //---370px---
    @include media-w($xxl) {
      margin: 2px 0px 8px 0px;
    }
  }

  &__guarantee-text {
    @extend %avenirNextCyr-Medium-450;
    font-size: 18px;
    line-height: 1.38;
    color: $blue;

    //---620px---
    @include media-w($sms) {
      font-size: 16px;
      line-height: 2;
    }

    //---479px---
    @include media-w($xss) {
      font-size: 14px;
      line-height: 21px;
    }

    & span {

      //---370px---
      @include media-w($xxl) {
        display: block;
      }
    }
  }

  &__btn {
    width: 479px;
    height: 60px;

    //---620px---
    @include media-w($sms) {
      width: 100%;
    }

    //---450px---
    @include media-w($xs) {
      margin-left: 15px;
      max-width: 300px;
      padding: 13px 5px 23px 5px;
    }

    //---360px---
    @include media-w($xbl) {
      margin-left: 0;

    }
  }

  &__down {
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    bottom: 217px;
    @extend %avenirNextCyr-Demi600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    color: $gray;
    transform: rotate(-90deg);

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 37px;
      left: -59px;
      bottom: -13px;
      background-image: url(../images/header/down.png);
      transform: rotate(90deg);
      @extend %bg-center-cover;
    }

    //-----1200px----
    @include media-w($lg) {
      display: none;
    }
  }

  &__link-wrapper {
    position: absolute;
    top: 132px;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    //-----1730px-----
    @include media-w($xxn) {
      left: -40px;
    }

    //-----1578px-----
    @include media-w($sxl) {
      right: -73%;
    }

    //-----1200px----
    @include media-w($lg) {
      top: 524px;
    }

    //---370px---
    @include media-w($xxl) {
      top: 480px;
      right: -76%;
    }
  }

  &__consultation {
    z-index: 99;
  }

  &__consultation-span {
    display: block;
    @extend %avenirNextCyr-Demi600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    color: $blue;
    transform: rotate(-90deg);

    //-----1578px-----
    @include media-w($sxl) {
      display: none;
    }
  }

  &__consultation-img {
    margin-bottom: 131px;

    //----992px----
    @include media-w($mdl) {
      width: 89px;
      height: 89px;
    }
  }

  &__consultation-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__call {
    display: none;
    z-index: 99;

    //-----1578px-----
    @include media-w($sxl) {
      display: block;
    }

    //-----1200px----
    @include media-w($lg) {
      margin-top: -128px;
    }
  }

  &__call-img {

    //----992px----
    @include media-w($mdl) {
      width: 89px;
      height: 89px;
    }
  }

  &__button {
    display: none;

    //---700px---
    @include media-w($smz) {
      position: absolute;
      right: 26px;
      display: block;
      border: none;
      background: transparent;
    }
  }

  &__svg {
    display: none;

    //---700px---
    @include media-w($smz) {
      display: block;
      width: 21px;
      height: 20px;
      fill: $white;
    }
  }

}