.intelligence {
  position: relative;
  padding: 117px 0px 109px 0px;
  background-color: linear-gradient(286.41deg, #022335 3.63%, #043A41 90.98%);




  &__section-title {
    max-width: 700px;
    margin-bottom: 64px;
  }
}