.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 38, 43, 0.5);
  display: none;
  z-index: 1;
}

.popup-sucsses-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 38, 43, 0.5);
  display: none;
  z-index: 10;
}

.popup-errorname-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 38, 43, 0.5);
  display: none;
  z-index: 10;
}

.popup-introductory-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 38, 43, 0.5);
  display: none;
  z-index: 1;
}

.popup-sucsses {
  position: absolute;
  padding: 54px 83px 189px 79px;
  width: 590px;
  height: 369px;
  background: linear-gradient(286.41deg, #033958 3.63%, #0F6B78 90.98%);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: '';
    position: absolute;
    width: 284px;
    height: 294px;
    bottom: -82px;
    right: 0px;
    background-image: url(../images/popup/succses-bg.png);
    @extend %bg-center-cover;
  }

  //---768px---
  @include media-w($smx) {
    width: 302px;
    height: 311px;
  }

  //---350px---
  @include media-w($xxsl) {
    width: 270px;
    height: 311px;
  }
}

.popup-errorname {
  position: absolute;
  padding: 54px 83px 189px 79px;
  width: 590px;
  height: 369px;
  background: linear-gradient(286.41deg, #033958 3.63%, #0F6B78 90.98%);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //---768px---
  @include media-w($smx) {
    padding: 15px 23px 20px 19px;
    width: 302px;
    height: 259px;
  }

  //---360px---
  @include media-w($xbl) {
    width: 270px;
  }
}

.error-btn {
  width: 100px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 816px;
  background-color: transparent;
  padding: 24px 24px 0px 0px;
  transform: translate(-50%, -50%);
  z-index: 100;

  //-----1200px----
  @include media-w($lg) {
    width: 750px;
  }

  //----992px----
  @include media-w($mdl) {
    width: 660px;
  }

  //---768px---
  @include media-w($smx) {
    width: 302px;
  }

  //---350px---
  @include media-w($xxsl) {
    width: 270px;
  }

  &__form {
    padding: 65px 102px 84px 102px;
    display: flex;
    flex-direction: column;
    max-width: 794px;
    background: linear-gradient(286.41deg, #033958 3.63%, #0F6B78 90.98%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.53);
    border-radius: 20px;

    //-----1200px----
    @include media-w($lg) {
      max-width: 750px;
      padding: 55px 102px 74px 56px;
    }

    //----992px----
    @include media-w($mdl) {
      max-width: 660px;
      padding: 55px 102px 74px 56px;
    }

    //---768px---
    @include media-w($smx) {
      max-width: 302px;
      padding: 33px 17px 27px 27px;
    }

    //---350px---
    @include media-w($xxsl) {
      max-width: 270px;
      padding: 20px 10px 20px 10px;
    }
  }

  &__form-title {
    display: block;
    margin-bottom: 44px;
    @extend %avenirNextCyr-Medium-450;
    font-size: 33px;
    line-height: 1.21;
    text-transform: uppercase;
    color: $white;

    //----992px----
    @include media-w($mdl) {
      font-size: 28px;
    }

    //---768px---
    @include media-w($smx) {
      font-size: 22px;
      line-height: 1.22;
    }

    //---350px---
    @include media-w($xxsl) {
      font-size: 20px;
    }

    &--desctop {
      display: block;

      //-----1200px----
      @include media-w($lg) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      //-----1200px----
      @include media-w($lg) {
        max-width: 280px;
        font-size: 22px;
        line-height: 27px;
        display: block;
      }

      //---350px---
      @include media-w($xxsl) {
        font-size: 20px;
      }
    }

    &--introductory {
      margin-bottom: 23px;
    }

    &--blue {
      display: inline-block;
      color: $blue;
    }
  }

  &__form-socials {
    max-width: 489px;
    display: flex;
    justify-content: space-between;
  }

  &__form-item {
    display: flex;
    justify-content: center;
    max-width: 80px;

    //---768px---
    @include media-w($smx) {
      max-width: 77px;
      height: 122px;
    }

    //---350px---
    @include media-w($xxsl) {
      max-width: 70px;
    }

    &:last-child {

      //---768px---
      @include media-w($smx) {
        margin-top: 3px;
        margin-right: 40px;
      }
    }

    &:nth-child(4) {

      //---768px---
      @include media-w($smx) {
        margin-top: 3px;
        margin-left: 40px;
      }
    }
  }

  &__form-link {
    display: block;
    text-align: center;
    transition: 0.5s;

    &:hover {
      border-radius: 9px;
      padding: 0px 0px;
      box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93);

      .popup__form-text {
        color: $white;
      }

      .popup-white {
        display: block;
      }

      .popup-blue {
        display: none;
      }
    }
  }

  &__form-socials {
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(73, 185, 232, 0.4);
    margin-bottom: 23px;

    //---860px---
    @include media-w($sm) {
      border-bottom: none;
      flex-wrap: wrap;
    }
  }

  &__form-iconholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
    border-radius: 9px;
    margin-bottom: 9px;
  }


  &__form-text {
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.1em;
    color: $blue;
  }

  &__form-name {
    display: block;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.1em;
    color: $blue;
    margin-bottom: 3px;
  }

  & label {
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 37px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 592px;
      height: 60px;
      top: -22px;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url(../images/popup/input-border.png);
      background-repeat: no-repeat;
      background-size: cover;

      //-----1200px----
      @include media-w($lg) {
        width: 100%;
        top: -21px;
      }

      //----992px----
      @include media-w($mdl) {
        width: 100%;
        top: -21px;
      }
    }
  }

  &__form-input {
    width: 100%;
    height: 60px;
    padding: 21px 21px 21px 21px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
    border-radius: 9px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: $white;
    transition: 0.5s;

    &:focus {
      outline: 1px solid $blue;
    }

    &:hover {
      outline: 1px solid $blue;
    }

    &:active {
      box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93);
    }


    &::placeholder {
      @extend %avenirNextCyr-Medium-450;
      font-size: 15px;
      line-height: 16px;
      letter-spacing: 0.1em;
      color: $white;
    }

    //---768px---
    @include media-w($smx) {
      max-width: 247px;
    }

    //---350px---
    @include media-w($xxsl) {
      max-width: 235px;
    }
  }

  &__btn {
    padding: 22px 15px 22px 15px;
    margin-top: 30px;
    max-width: 427px;
  }
}

.popup-introductory {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 613.06px;
  height: 795px;
  background-color: transparent;

  //----992px----
  @include media-w($mdl) {
    width: 500px;
  }

  //---768px---
  @include media-w($smx) {
    width: 302px;
  }

  //---350px---
  @include media-w($xxsl) {
    width: 270px;
  }

  &__form {
    padding: 54px 83px 65px 79px;
    width: 590px;
    height: auto;
    background: linear-gradient(286.41deg, #033958 3.63%, #0F6B78 90.98%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.53);
    border-radius: 20px;

    //----992px----
    @include media-w($mdl) {
      padding: 40px 50px 40px 50px;
      width: 500px;
    }

    //---768px---
    @include media-w($smx) {
      padding: 33px 2px 44px 28px;
      width: 302px;
    }

    //---350px---
    @include media-w($xxsl) {
      padding: 33px 5px 44px 15px;
      width: 270px;
    }

  }

  &__btn {
    margin-top: 145px;
    width: 100%;
    z-index: 1;

    //----992px----
    @include media-w($mdl) {
      // margin-top: 33px;
    }

    //---768px---
    @include media-w($smx) {
      max-width: 247px;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.1em;
    }

    //---350px---
    @include media-w($xxsl) {
      max-width: 235px;
    }
  }
}


.close-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  &--sucsses {
    right: -20px;
    top: -20px;
  }
}

.poput__form-svg {
  fill: linear-gradient(228.46deg, #3B768F 19.91%, #3EC6FF 50.51%, #3B768F 80.55%);
}

.fasebook-svg,
.whatsapp-svg {
  width: 43px;
  height: 43px;
}

.talk-svg {
  width: 37px;
  height: 35px;
}

.envelope-svg {
  width: 32px;
  height: 32px;
}

.phone-svg {
  width: 37px;
  height: 37px;
}

.popup-white {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.popup__form-name--introductory {
  display: block;
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: 0.1em;
  color: $blue;
  margin-bottom: 3px;
}

.popup__form-input--introductory {
  width: 100%;
  height: 60px;
  padding: 21px 21px 21px 21px;
  border: 1px solid transparent;
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
  border-radius: 9px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: $white;
  transition: 0.5s;

  &:focus {
    outline: 1px solid $blue;
  }

  &:hover {
    outline: 1px solid $blue;
  }

  &:active {
    box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93);
  }


  &::placeholder {
    @extend %avenirNextCyr-Medium-450;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: $white;
  }

  //---768px---
  @include media-w($smx) {
    width: 247px;
  }

  //---350px---
  @include media-w($xxsl) {
    width: 235px;
  }
}

.popup__form-label {
  position: relative;
  display: block;
  margin-bottom: 19px;
  cursor: pointer;

  &:last-child {
    position: relative;
    margin-bottom: 43px;
    cursor: pointer;

    &::before {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 427px;
    height: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/popup/input-border.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;
    z-index: 1;

    //----992px----
    @include media-w($mdl) {
      width: 399px;
    }

    //---768px---
    @include media-w($smx) {
      width: 247px;
    }

    //---350px---
    @include media-w($xxsl) {
      width: 235px;
    }
  }
}

.popup__form-select {
  position: relative;
  text-align: left;
  width: 100%;
  height: 60px;
  padding: 21px 15px 21px 21px;
  border: 1px solid transparent;
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
  outline: none;
  border-radius: 9px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: $white;
  transition: 0.5s;
  appearance: none;
  z-index: 999;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;

  &:hover {
    color: $blue;
    outline: 1px solid $blue;
  }

  &:focus {
    box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93);
  }

  &:active {
    box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93);
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/popup/select-down.png);
    @extend %bg-center-cover;
    pointer-events: none;
  }

  //---768px---
  @include media-w($smx) {
    max-width: 247px;
  }
}

//Отменяем стандартную стилизацию internet explorer
.popup__form-select::-ms-expand {
  display: none;
}

.popup__form-selectlist {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  margin: 0;
  padding: 0px;
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
  box-shadow: 0px 7px 20px -7px $blue;
  border-radius: 0px 0px 9px 9px;
  overflow: hidden;
  width: 100%;
  z-index: 9;
  font-size: 16px;
  letter-spacing: 0.1em;

  //---768px---
  @include media-w($smx) {
    max-width: 247px;
  }
}

.popup__form-selectlist--visible {
  display: block;
}

.popup__form-selectitem {
  width: 100%;
  margin: 0;
  padding: 7px 21px 7px 21px;
  z-index: 9;
  border: solid 1px $blue;
  border-bottom: 0px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    font-weight: 700;
    color: $blue;
  }

  &:first-child {
    border-radius: 6px 6px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 0px 6px 6px;
    border-bottom: 1px solid $blue;
  }

  //---768px---
  @include media-w($smx) {
    max-width: 247px;
  }
}

.selectlist-hidden {
  display: none;
}

.popup__form-wrapp {

  //---860px---
  @include media-w($sm) {
    display: none;
  }
}