.vacancy {
  position: relative;
  padding: 81px 0px 77px 0px;
  background: linear-gradient(286.41deg, #022335 3.63%, #043A41 90.98%);

  //---768px---
  @include media-w($smx) {
    padding: 55px 0px 110px 0px;
  }

  &__wrapper {
    margin-left: -5px;

    //---768px---
    @include media-w($smx) {
      position: relative;
    }

    //---370px---
    @include media-w($xxl) {
      margin-left: 15px;
    }

    //---350px---
    @include media-w($xxsl) {
      margin-left: 0;
    }
  }


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 47px;
    padding-right: 5px;

    //---370px---
    @include media-w($xxl) {
      margin-bottom: 32px;
      padding-right: 0;
    }
  }

  &__section-title {}

  &__button {
    width: 183px;
    height: 60px;
    border: 1px solid #00E0FF;
    background-color: transparent;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    border-radius: 9px;
    @extend %avenirNextCyr-700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $title-blue;
    transition: 0.5s;
    margin-top: 4px;

    &:hover {
      background-color: #022335;
      font-size: 13px;
      letter-spacing: 0.15em;
    }

    //---768px---
    @include media-w($smx) {
      position: absolute;
      bottom: -53px;
      left: 47%;
      transform: translateX(-50%);
      width: 180px;
      height: 30px;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
  }

  &__buttom {
    position: relative;
    margin-right: -36%;

    //---500px---
    @include media-w($smm) {
      margin-right: 0;
    }
  }
}

.vacancy-slider {
  position: relative;
  width: 100%;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    right: 32px;
    top: 0;
    width: 387px;
    height: 402px;
    background-color: rgba(8, 38, 43, .5);
    opacity: 0.3;
    z-index: 1;

    //----992px----
    @include media-w($mdl) {
      display: none;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: 387px;
    margin-right: 20px;

    //-----1230px----
    @include media-w($xlf) {
      max-width: 500px;
    }

    //-----1190px----
    @include media-w($lgv) {
      max-width: 470px;
    }

    //----1100px----
    @include media-w($mdb) {
      max-width: 440px;
    }

    //---1050px----
    @include media-w($md) {
      max-width: 420px;
    }

    //----992px----
    @include media-w($mdl) {
      max-width: 385px;
    }

    //---860px---
    @include media-w($sm) {
      max-width: 299px;
    }

    //---330px---
    @include media-w($xxsk) {
      max-width: 290px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 156px;
      left: 42px;
      width: 41px;
      height: 10px;
      background: rgba(3, 225, 255, 0.66);
      filter: blur(11px);
    }
  }

  &__picture {
    position: relative;
  }

  &__img {
    display: block;
    margin-bottom: 29px;
    object-fit: cover;
    border-radius: 20px;

    //-----1230px----
    @include media-w($xlf) {
      width: 100%;
    }

    //---860px---
    @include media-w($sm) {
      height: 185px
    }

    //---370px---
    @include media-w($xxl) {
      margin-bottom: 18px;
    }
  }

  &__title {
    @extend %avenirNextCyr-700;
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 21px;

    //---370px---
    @include media-w($xxl) {
      font-size: 15px;
      margin-bottom: 16px;
    }
  }

  &__text {
    position: relative;
    height: 66px;
    overflow: auto;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 9px;

    &::-webkit-scrollbar {
      width: 0;
    }

    //---370px---
    @include media-w($xxl) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 7px;
    }

    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: rgba(8, 38, 43, .5);
    }

    & span {
      display: block;
    }
  }

  &__link {
    @extend %avenirNextCyr-Medium-450;
    font-size: 12px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #4ABCEC;
    transition: 0.5s;

    &:hover {
      text-decoration: none;
    }
  }

  &__arrow {}

  .slick-arrow {
    position: absolute;
    top: 87px;
    width: 62px;
    height: 62px;
    z-index: 2;
    background-color: transparent;
    border: 1px solid transparent;

    //---860px---
    @include media-w($sm) {
      top: 67px;
    }

    //---400px---
    @include media-w($xxs) {

      & svg {
        width: 42px;
        height: 42px;
      }
    }

  }

  .slick-next {
    left: 12px;
    // transform: rotate(-180deg);

    //---370px---
    @include media-w($xxs) {
      top: 66px;
      left: -31px;
    }

    //---330px---
    @include media-w($xxsk) {
      left: -6px;
    }

  }

  .slick-prev {
    top: 79px;
    right: 480px;

    //----992px----
    @include media-w($mdl) {
      right: 365px;
    }

    //---860px---
    @include media-w($sm) {
      right: 317px;
      top: 61px;
    }

    //---768px---
    @include media-w($smx) {
      right: 285px;
    }

    //---620px---
    @include media-w($sms) {
      right: 231px;
    }

    //---500px---
    @include media-w($smm) {
      right: 34px;
    }

    //---400px---
    @include media-w($xxs) {
      right: 38px;
    }

    //---370px---
    @include media-w($xxl) {
      top: 69px;
      right: -9px;

      & svg {
        width: 56px;
        height: 56px;
      }
    }

    //---330px---
    @include media-w($xxsk) {
      right: 0;
    }
  }

}