/*::::::::::::::::::::::::::цвета:::::::::::::::::::::::::::::::::::::::::::::::*/
$gray:#747D81;
// $default:#8d8d8d;
$blue:#00E0FF;
$white: #ffffff;
// $bg:#f6f6f6;
// $yellow: #ffb534;
// $blue: #34c3ff;
/*::::::::::::::::::::::::::цвета-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::переменные::::::::::::::::::::::::::::::::::::::::::*/
$row: 1;
$row-2:2;
$row-3:3;
$row-10:10;
/*::::::::::::::::::::::::::переменные-finish:::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::mixins::::::::::::::::::::::::::::::::::::::::::::::*/

@mixin overflow($row) {
  -webkit-line-clamp: $row;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*::::::::::::::::::::::::::mixins-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::обои::::::::::::::::::::::::::::::::::::::::::::::::*/
%bg-left {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-center-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-center-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*::::::::::::::::::::::::::обои-finish:::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::брекпоинты::::::::::::::::::::::::::::::::::::::::::*/
$xxn: 1730px;
$sxl:1578px;
$xl:1440px;
$sxla:1300px;
$xlf: 1230px;
$lg: 1200px;
$lgv:1190px;
$mdb: 1100px;
$md: 1050px;
$mda: 1024px;
$mdl: 992px;
$sm: 860px;
$smx: 768px;
$smz: 700px;
$sms: 620px;
$ssm:562px;
$snm:506px;
$smm: 500px;
$xss:479px;
$xs: 450px;
$xxs: 400px;
$xxl:370px;
$xxsl:330px;

/*::::::::::::::::::::::::::брекпоинты-finish:::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::миксин для брейкпоинтов:::::::::::::::::::::::::::::*/
@mixin media-w($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

/*::::::::::::::::::::::::::миксин для брейкпоинтов-finish::::::::::::::::::::::*/
/*::::::::::::::::::::::::::наследование для шрифтов::::::::::::::::::::::::::::*/
%avenirNextCyr-700 {
  font-family: 'AvenirNextCyr-Bold', sans-serif;
  font-weight: 750;
}

%avenirNextCyr-Demi600 {
  font-family: 'AvenirNextCyr-Demi', sans-serif;
  font-weight: 600;
}

%avenirNextCyr-Medium-450 {
  font-family: 'AvenirNextCyr-Medium', sans-serif;
  font-weight: 450;
}

%avenirNextCyr-Heavy-800 {
  font-family: 'AvenirNextCyr-Heavy', sans-serif;
  font-weight: 800;
}

/*::::::::::::::::::::::::::наследование для шрифтов-finish:::::::::::::::::::::*/
/*::::::::::::::::::::::::::наследование для кнопки:::::::::::::::::::::::::::::*/
%btn {
  display: block;
  padding: 22px 5px 22px 5px;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
  box-shadow: 0px 7px 20px -7px #00E0FF;
  border-radius: 9px;
  border: 2px solid transparent;
  @extend %avenirNextCyr-700;
  font-size: 12px;
  line-height: 1.25;
  color: $white;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
}

%btn-hover {
  background: #fff;
  color: $blue;
  border: 2px solid $blue;
  font-size: 13px;
  letter-spacing: 0.15em;
}

%btn-active {
  box-shadow: 20px 7px 20px 0px $blue;
}

// %checkbox-hiden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

// %radio-hidden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

/*::::::::::::::::::::::::::наследование для кнопки-finish::::::::::::::::::::::*/
/*::::::::::::::::::::::::::fancybox-snipet:::::::::::::::::::::::::::::::::::::*/

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

/*::::::::::::::::::::::::::fancybox-snipet-finish::::::::::::::::::::::::::::*/